/***** BASE STYLES *****/

root {
    /*Primary Colors*/
    --color-primary-softblue: hsl(215, 51%, 70%);
    --color-primary-cyan: hsl(178, 100%, 50%);

    /*Neutral Colors*/
    --color-neutral-mainbg: hsl(217, 54%, 11%);
    --color-neutral-cardbg: hsl(216, 50%, 16%);
    --color-neutral-line: hsl(215, 32%, 27%);
    --color-neutral-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    
    min-height : 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    border-radius: 5px;
}

h1, strong {
    color: white;
    font-weight: 600;
}

h4 {
    color: hsl(178, 100%, 50%);
}

p {
    font-size: 18px;
    color:hsl(215, 51%, 70%);
    font-weight: 300;
}

/* hr {
    background-color:hsl(215, 32%, 27%);
} */

/* img .avatar {
    border-color: white;
} */
