/***** BASE STYLES *****/

:root {
    /*Primary Colors*/
    --color-primary-softblue: hsl(215, 51%, 70%);
    --color-primary-cyan: hsl(178, 100%, 50%);

    /*Neutral Colors*/
    --color-neutral-mainbg: hsl(217, 54%, 11%);
    --color-neutral-cardbg: hsl(216, 50%, 16%);
    --color-neutral-line: hsl(215, 32%, 27%);
    --color-neutral-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    min-height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-mainbg);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-neutral-cardbg);
    border-radius: 16px;
}

h1, span {
    color: var(--color-neutral-white);
    font-weight: 600;
}

h4 {
    color: var(--color-primary-cyan);
}

p {
    font-size: 18px;
    color: var(--color-primary-softblue);
    font-weight: 300;
}

 .line {
    background-color: var(--color-neutral-line);
    color: var(--color-neutral-line);
} 

/* img .avatar {
    border-color: white;
} */
